<a href="https://colab.research.google.com/github/nermienkh/ML_Project/blob/master/Iris_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h5>IRIS Dataset Classification https://www.kaggle.com/uciml/iris</h5>
  1- import dataset<br>
  2- divide the data into independent and dependent variables<br>
  3- transform categorical features into numeric<br>
  4- split data into training and test  <br>
  5- train the model<br>
  6- evaluate the model<br>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset= pd.read_csv('Iris.csv')

In [ ]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
dataset['Species'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [ ]:
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
x=dataset.iloc[:,1:5].values
y=dataset.iloc[:,-1].values

In [ ]:
from sklearn.preprocessing import LabelBinarizer
lb= LabelBinarizer()
y= lb.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
classifier =RandomForestClassifier(n_estimators=100, random_state=0)

In [ ]:
classifier.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
y_pred= classifier.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score 
cm= confusion_matrix(np.argmax(y_pred,axis=1),np.argmax(y_test, axis=1))

In [ ]:
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]])

In [ ]:
acc= accuracy_score(np.argmax(y_pred,axis=1),np.argmax(y_test, axis=1))

In [ ]:
acc

1.0